 <li>
   <%= link_to user.name, user_path(user) %>
   <div><%= link_to image_tag("#{user.image}", {:size =>'100x80', :alt => ""}), user%></div>
   <% if current_user.admin? && !current_user?(user) %>

| <%= link_to "delete", user, method: :delete,
                                 data: { confirm: "You sure?" } %>
 <% end %>

 </li>
